/* 

yellow: #f1c40f 

*/


/* -----------------------------*/
/* BASIC SETUP */
/*------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-rendering: optimizeLegibility; /* renders text perfectly */
}


.clearfix { zoom: 1; }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* ----- HEADINGS ----- */

.main-img-text-box h1,
h4 {
    float: left;
}

h1,
h2,
h3,
h4{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 300%; /* is 200% of the font-size from * which will mean the font size is 40px */
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h4 {
    color: #fff;
/*    margin: 10px 0 30px 95px;*/
    margin: 10px 0 30px 164px;
}

.section-about-me h2 {
    text-transform: none;
}

/* the line under the h2 heading */
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */

.long-copy {
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}

/* ----- ICONS ----- */

.social-nav {
    list-style: none;
    margin-top: 15px;
}

.social-nav li {
    display: inline-block;
    margin-left: 45px;
}

.icon-big {
    font-size: 200%;
    color: #f1c40f;
}

/* ----- BUTTONS ----- */


/*------------------------------*/
/* HEADER */
/*------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/bg-img-10.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the viewport */
    background-attachment: fixed;
}

.main-img-text-box {
    position: absolute;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* translates the element half of it's width and height up and to the left */ 
}

.myImage {
    float: right;
    height: 100%;
    border-radius: 55%;
    opacity: 0.9;
    display: in-block;
    border: 3px solid #d8d8d8;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 95%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover ,
.main-nav li a:active {
    border-bottom: 2px solid #f1c40f;
}

/*------------------------------*/
/* ABOUT ME */
/*------------------------------*/

/*------------------------------*/
/* WORKS */
/*------------------------------*/

.section-works {
    padding: 0; 
}

.works-showcase {
    list-style: none;
    width: 100%;
}

.works-showcase li {
    display: block;
    float: left;
    width: 25%;
    position: relative;
}

.works-photo {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

/*
.imgWrap {
    position: relative;
    height: 100%;
    width: 100%;
}
*/

.works-text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    vertical-align: middle;
}

.works-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity: 0.5s;
}


.works-photo:hover .works-text {
    visibility: visible;
    opacity: 1;
}


/*
.works-photo img:hover{
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
*/




